.Cruz {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  padding-left: 10%;
}

.NavContainer {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  width: 100%;
  background-color: #1a3b68;
}

.sign-in {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(226 232 240);
  transform: translateX(-50%);
}
.sign-out {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(226 232 240);
}

.MenuAndLogo {
  display: flex;
}

.Menu {
  font-size: 1.75rem;
  color: #d2ba50;
}
.UserIcon {
  scale: 350%;
  align-self: center;
  color: white;
  /* transform: translateX(-15%) translateY(22%); */
}

.dropDownWrapper {
  position: fixed;
  top: 70px;
  right: 2px;
  display: flex;
  width: fit-content;
  min-width: 8%;
  background: #fdfdfd;
  place-content: center;
  flex-direction: row;
  text-align: center;
  padding-top: 5px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  border-radius: 0.45rem;
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.5);
}

.dropDownWrapper::before {
  content: "";
  position: absolute;
  top: -12px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.dropDownWrapper::after {
  content: "";
  position: absolute;
  top: -10px;
  right: 16px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fdfdfd;
}

.userAndname-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-items: center;
  gap: 22px;
  margin-right: 5px;
}

.navbar-username {
  color: white;
  font-weight: bold;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none;
}

.expand-icon {
  color: white;
}
