.NewChapter {
  margin-top: 3rem;
  margin-left: 4.5rem;
  display: flex;
  flex-direction: column;
}

.new-chapter-header {
  font-size: 2rem;
  font-weight: 700;
  min-width: fit-content;
  color: #000000;
  text-align: start;
}

.name-and-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  gap: 50px;
}

.chapter-name-input {
  padding: 1rem;
  margin-bottom: 10px;
  margin-top: 15px;
  border-width: 1px;
  max-height: 3rem;
  width: 60vw;
  color: #111827;
  background-color: #f9fafb;
  border-radius: 1rem;
}

.chapter-description {
  padding: 1rem;
  margin-bottom: 10px;
  margin-top: 15px;
  border-width: 1px;
  min-height: 25vw;
  width: 60vw;
  color: #111827;
  background-color: #f9fafb;
  border-radius: 1rem;
  margin-right: 5px;
  resize: none;
}

.char-count {
  position: relative;
  text-align: end;
  width: 59vw;
}

.button-wrap {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.chapter-save {
  padding: 0.25rem;
  justify-self: center;
  place-self: center;
  border-radius: 0.5rem;
  width: 5rem;
  background-color: #329e56;
  color: white;
}

.chapter-save:hover {
  background-color: #48d386;
}

.chapter-cancel {
  padding: 0.25rem;
  justify-self: center;
  place-self: center;
  border-radius: 0.5rem;
  width: 5rem;
  background-color: #b93c3c;
  color: white;
}

.chapter-cancel:hover {
  background-color: #cf5a5a;
}

.noName-error {
  display: flex;
  flex-direction: row;
  gap: 10px;
  color: red;
  margin-left: 5px;
}

.noName-text {
  position: relative;
  bottom: 5px;
}

.chapter-tag-name-input {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  margin-right: 200px;
  border-width: 1px;
  color: #111827;
  background-color: #f9fafb;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
  width: 80vw;
}

.chapter-name-input {
  padding: 1rem;
  margin-bottom: 10px;
  margin-top: 15px;
  border-width: 1px;
  max-height: 3rem;
  width: 60vw;
  color: #111827;
  background-color: #f9fafb;
  border-radius: 1rem;
  margin-right: 5px;
}

.tag-input {
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: #f9fafb;
}

.tag {
  background-color: rgb(195, 195, 195);
  display: flex;
  flex-direction: row;
  place-items: center;
  border-radius: 20px;
  padding: 0.5rem;
}

.delete-tag {
  background-color: rgb(197, 58, 58);
  color: white;
  height: 20px;
  width: 20px;
  display: inline-flex;
  justify-content: center;
  place-items: center;
  border-radius: 50%;
  margin-left: 0.25rem;
  cursor: pointer;
}

.delete-icon {
  scale: 75%;
}