.page-wrapper {
  background: #003c6c;
  min-height: 100vh;
}

.profile {
  background-color: #d9d9d9;
  width: fit-content;
  min-width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2.5rem;
  border-radius: 2rem;
}

.profile-heading {
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3rem;
  line-height: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  place-items: center;
  justify-content: center;
  position: relative;
}

.input-wrapper {
  display: flex;
  max-width: 100%;
  place-content: flex-start;
}

.profile-input-wrapper {
  display: flex;
  max-width: 100%;
  place-content: flex-start;
  flex-direction: row;
}

.profile-input {
  color: #000000;
  font-size: 2rem;
  border: transparent;
  padding: 10px;
  border-radius: 2rem;
}

.profile-input::placeholder {
  color: #000000;
}

.profile-input:focus {
  border: 3px solid rgb(106, 167, 238);
  outline: none;
}

.profile-edit-button {
  display: flex;
  scale: 150%;
  justify-self: center;
  place-self: center;
  margin-left: 10px;
}

.profile-edit-button:hover {
  color: rgb(106, 167, 238);
}

.submit-button {
  color: #329e56;
  scale: 125%;
  margin-left: 10px;
}

.submit-button:hover {
  color: #48d386;
}

.username {
  font-size: 1.5rem;
  margin-left: 5px;
}

.email {
  margin-left: 5px;
  margin-top: 0px;
  font-size: 1.25rem;
  color: #616161;
}

.back-button {
  font-size: 25px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-color: #d2ba50;
  border-radius: 2.5rem;
  color: white;
  background-color: #d2ba50;
  border: 1px solid #d2ba50;
}
